* {
    box-sizing: border-box;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
    height: 100%;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-rows: minmax(100px, auto);
    }
}
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(200px, auto);
    }
}

body {
    background-color: rgb(60, 128, 168);
    font-family: sans-serif;
    font-size: 0.7rem;

	background: url(burbujasHD.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;

}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.8;
	z-index: -1;
}

@media (max-width: 768px) {
    body {
        font-size: 0.6rem;
    }
}
@media (min-width: 1024px) {
    body {
        font-size: 1rem;
    }
}

.grid-items{
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    border: solid purple 3px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pie {
    height: 10%;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.iconos {
    width: 75px;
    height: 75px;
}

@media (max-width: 768px) {
    .iconos {
        width:50px;
        height: 50px;
    }
}

@media (min-width: 1024px) {
    .iconos {
        width: 100px;
        height: 100px;
    }
}